* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

* {margin:0 auto;}

html {background-color:#4e687e;}

body {width:1200px;
		margin:0 auto;
		background-image: url('images/afm_main.jpg');
		background-repeat:no-repeat;
		background-size:96%;
		background-position: top;
		background-attachment: fixed;
}

.navbar {width:100%; 
		font-family: 'Economica', sans-serif;
		height:50px;
		background-color:#0D2531  ;
		padding-top:10px;
		opacity:.6;

}

ul {list-style-type: none;
		margin:0px;padding:0px;
		color:white;
}

ul li {float:left;
		width:200px;font-size:16px;font-weight:100;
		height: 50px; 
		background-color:none;
		line-height:50px;
		text-align:center;
		margin-right:2px;
		margin-left:10px;
		letter-spacing:8px;
}

ul li a {text-decoration:none;
		color:white;
		display:block;
	
}

ul li a:hover {color:#2F96C4  ;
	
}
ul li ul li {
		display:none;
		font-size:14px;
		letter-spacing: 4px;
	}

ul li:hover ul li {
		display:block;
		background-color:#0B4C68  ;


}
.circletype {width:315px;
		margin-left:840px;
		display:block;
		padding-top:0px;
		opacity:.7;
		margin-top:60px;


}

.h1b {font-family:'Economica', sans-serif;
		font-size:19px;
		text-align:center;
		color:#0E284D;
		font-weight:200;
		width:220px;
		letter-spacing: 3px;
		margin-top:65px;
		margin-left:881px;
		padding: 14px 0px 14px 0px;
		float:left;
		line-height:22px;
		text-transform: uppercase;
		opacity:.8; 
		/*transform: rotate(0deg);
		opacity:.999;/*text-shadow: 1px 1px 2px black;*/
}


.tweet { width:30px;float:right;
		display:block;
		margin-top:36px;
		margin-right:135px;
		margin-left:14px;            
		opacity:.6;
		border-radius:50%;

	}

.tweet2 { width:30px;float:right;
		display:block;
		margin-top:36px;
		margin-left:14px;
		opacity:.6;
		border-radius:50%

	}

.tweet3 { width:30px;float:right;
		display:block;
		margin-top:36px;
		margin-left:14px;
		border-radius:50%;
		opacity:.6

	}
.tweet4 { width:30px;float:right;
		display:block;
		margin-top:36px;
		margin-left:5px;
		border-radius:50%;
		opacity:.6
}

.description {width:1200px;
	height:450px;
	background-color:white;
	text-align:left;
	background-image: url("images/Untitled-1.gif"); 
	margin-top:410px;

}
.button {width:170px;
	height:40px;
	background-color:white ;
	margin-left:900px; 
	margin-top:25px;
	border-style:solid;
	border-width:.5px;
	border-color:#7DACCF ;

}
.button h3 {font-family:'Teko', sans-serif;
	font-size:20px;
	font-weight:100;
	opacity:.5;
	color:black;
	letter-spacing:6px;
	margin-left:25px;
	padding-top:9px;
}

.button a {text-decoration: none;

}

.button:hover {background-color:#58A1C4;

}


.maparea {width:100%;
	height:500px;
	float:left;
	background-image: url("images/map-afm-copy.gif");   /*where is it*/
	background-size: 1200px;
}



h2 {font-family: 'Teko', sans-serif;
	font-weight:100;width:548px;
	font-size:30px;
	letter-spacing:20px;
	line-height:25px;
	color:#214E5D;
	margin-left:575px;padding-top:125px;

}


h2 span {font-size:20px;
	line-height:50px;
	color:#9DBBC8;
	letter-spacing:25.7px; 
	border-bottom: 0.5px solid #9DBBC8;

}


.description p {font-family:'Open+Sans', sans-serif;
	font-weight:100;
	display:block;
	padding-top:10px;
	margin-left:570px;
	font-size: 16px;
	width:550px;
	color:black;
	letter-spacing:-.5px;
	line-height:23px;
	opacity:.6;
}

.tributes p {font-family:'Open+Sans', sans-serif;
	font-weight:100;
	text-align:left;
	padding-top:12px;
	font-size: 14px;
	width:520px;
	color:#1A3C4D;
	line-height:22px;
	opacity:.999;
	margin-left:590px;
}

.george {font-family:'Economica', sans-serif;font-style:italic;
	font-size: 11px;
	color:#1A3C4D;
	display:inline;
	margin-left:850px;
	letter-spacing:3px;
	font-weight:100;
}

.tributes {width:100%;
	height:485px;margin-top:400px;
	background-image: url("images/salute8.jpg");
	background-size: 100%;float:left;
	background-repeat:no-repeat;
	background-position:bottom;
	padding-top:85px;

}


.button2 {width:170px;
	height:40px;
	background-color:white ;
	margin-left:900px; 
	margin-top:40px;
	border-style:solid;
	border-width:.5px;
	border-color:#7DACCF ;

	}

.button2 h3 {font-family:'Teko', sans-serif;
	font-size:20px;font-weight:100;opacity:.5;
	color:black;
	letter-spacing:6px;
	margin-left:25px;padding-top:9px;
}

.button2 a {text-decoration: none;

}

.button2:hover {background-color:#58A1C4;

}
	
.section1 {width:1200px;
	height:432px;
	float:left;
	background-color:#CBD4D8;
	background-image: url("images/night2.jpg");
	background-size: 110%;
	background-repeat:no-repeat;
	background-position:bottom;
}
.section1 p {color: white;
	font-family:'Open+Sans', sans-serif;
	font-weight:100;
	text-align:left;
	font-size: 15.5px;
	width:540px;
	line-height:28px;
	letter-spacing:.6px;
	opacity:.999;
	margin-left:80px;
	margin-top:220px;
	opacity:.6;

}

.button3 {width:170px;
	height:40px;
	background-color:white ;
	margin-left:900px; 
	margin-top:380px;
	border-style:solid;
	border-width:.5px;
	border-color:#7DACCF ;

}
.button3 h3 {font-family:'Teko', sans-serif;
	font-size:20px;
	font-weight:100;
	opacity:.5;
	color:black;
	letter-spacing:3px;
	margin-left:25px;
	padding-top:9px;
}

.button3 a {text-decoration: none;

}

.button3:hover {background-color:#58A1C4;

}
	
.button4 {width:170px;
	height:40px;
	background-color:#192E4B ;
	margin-left:900px; 
	border-style:solid;
	border-width:.5px;
	border-color:#7DACCF ;
	opacity:.6;
}

.button4 h3 {font-family:'Teko', sans-serif;
	font-size:20px;
	font-weight:100;
	opacity:.5;
	color:white;
	letter-spacing:3px;
	margin-left:25px;
	padding-top:9px;
}

.button4 a {text-decoration: none;

}

.button4:hover {background-color:#58A1C4;

}

h6 {font-size:8px;
	font-family:'Open+Sans', sans-serif;
	font-weight:100;
	padding-top:200px;
	text-transform: uppercase;
	width:1200px;
	color:white;
	letter-spacing:2px;
	line-height:26px;
	opacity:.3;
	}

footer {height:250px;background-image: url("images/round4.gif");;
	background-color:#58A1C4;
	background-repeat:no-repeat;
	background-size:8%;
	background-position:center;
	clear:both;
	width:1200px;
	background-color:#192E4B  ;
	text-align:center

}








