* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
<<<<<<< HEAD

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}





* {margin:0 auto;}

html {background-color:#4e687e;
	width:1200px;margin:0 auto;
=======

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}
>>>>>>> origin/master

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}


<<<<<<< HEAD
=======



* {margin:0 auto;}

html {background-color:#4e687e;
	width:1200px;

}


>>>>>>> origin/master
body {width:1200px;height:1000px;
	margin:0 auto;
	
}

.navbar {width:1200px; 
	font-family: 'Economica', sans-serif;
	height:50px;
	background-color:#17364F   ;
	padding-top:10px;
<<<<<<< HEAD
	opacity:.8;
=======
	opacity:.6;
>>>>>>> origin/master

}

ul {
	list-style-type: none;
<<<<<<< HEAD
	margin:0px;
	padding:0px;
	opacity:.8;
=======
	margin:0px;padding:0px;
	color:white;
>>>>>>> origin/master
}

ul li {
	float:left;
<<<<<<< HEAD
	width:200px;
	font-size:16px;
	font-weight:100;
=======
	width:200px;font-size:16px;font-weight:100;
>>>>>>> origin/master
	height: 50px; 
	line-height:50px;
	text-align:center;
	margin-right:2px;
	margin-left:10px;
	letter-spacing:8px;
}

ul li a {text-decoration:none;
	color:#2F96C4;
	display:block;
	
}

ul li a:hover {color:#2F96C4;
	
}
ul li ul li {line-height:;
	display:none;
	font-size:14px;
	letter-spacing: 4px;
}

ul li:hover ul li {
	display:block;
<<<<<<< HEAD
	background-color:#2F96C4  ;
=======
	background-color:white  ;
>>>>>>> origin/master


}


.header {
	background-image: url(../images/afm_orange2.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	width:1200px;
<<<<<<< HEAD
	height:780px;
=======
	height:720px;
>>>>>>> origin/master
	text-align:left;

}

.logo {width:200px;
	 margin-left:800px;
	 margin-top:480px;
	 opacity:.7;
	}


h3 {font-size:22px;
	font-family:'Teko', sans-serif;
	font-weight:100;
	padding-top:120px;
	margin-left:500px;
	margin-bottom:20px;
	text-transform: uppercase;
	width:600px;
	color:#58899A  ;
	letter-spacing:3px;
	line-height:26px;
	
}

<<<<<<< HEAD
p {font-family:'Open+Sans', sans-serif;
	font-weight:100;
	margin-left:500px;
	font-size: 14px;
	width:600px;
	color:#283747  ;
	letter-spacing:0.5px;
	line-height:22px;
=======

h3 {font-size:26px;
	font-family:'Teko', sans-serif;
	font-weight:100;
	padding-top:160px;
	margin-left:500px;
	text-transform: uppercase;
	width:600px;
	color:#58899A  ;
	letter-spacing:5px;
	line-height:29px;
	
}

p {font-family:'Raleway', sans-serif;
	font-weight:thin;
	padding-top:20px;
	margin-left:500px;
	font-size: 16px;
	width:600px;
	color:#283747  ;
	letter-spacing:1px;
	line-height:25px;
>>>>>>> origin/master
	
}
.info {width:100%;height:500px;
background-image: url(../images/sketch.gif);



}


/*.article p {font-family:'Raleway', sans-serif;
	font-weight:thin;
	
	font-size: 16px;
	width:400px;
	color:white;
	letter-spacing:1px;
	line-height:25px;
	display:inline-block;
}*/

.info {width:100%;height:500px;
background-image: url(../images/sketch.gif);

}

.construction1 {
	float:left;
	background-color:#D0D3D4;
	width:400px;
	height:260px;

}

.construction2 {
	float:left;
	background-color:#99A3A4  ;
	width:400px;
	height:260px;


}
.circleimg {border-radius:50%;
	 width:200px;
	 margin-left:92px;
	 margin-top:22px;
	 opacity:.5;
}

.circleimg:hover {border-radius:50%;
	 border-style:solid;
	 border-color:#163146;
	 border-width:5px;
	 opacity:.999;
	 transform: scale(1.25, 1.25);
}
img {border-radius:50%;
	 width:240px;
	 margin-left:82px;
	 margin-top:24px;
	 opacity:.2;
}
img:hover {border-radius:50%;border-style:solid;border-color:white;
	border-width:.5px;
	 width:240px;
	 
	 opacity:.99;
}

.logo {width:240px;
	 margin-left:765px;
	 margin-top:144px;
	 opacity:.7;

	}



.construction3 {
	float:left;
	background-color:#D0D3D4;
	width:400px;
	height:260px;
	

}


.article {width:1200px;
	background-image: url("../images/pilot.jpg");
	background-position:bottom;
	background-repeat:no-repeat;
	background-size:100%;
	height:920px;padding-top:55px;
	float:left;
	opacity:.999;

}
.article p {font-family:'Open+Sans', sans-serif;
	font-weight:thin;
	margin-top:19px;
	margin-left:500px;
	font-size: 14px;
	width:590px;
	color:white  ;
	letter-spacing:0.4px;
	line-height:23px;

}
span {font-size: 94px;
	color:#334A59;
	font-family:'Teko', sans-serif;
	padding-top: 31px;
	padding-right: 6px;
	float:left;
}


.button2 {width:170px;
	height:40px;
	background-color:#658EA0;
	margin-left:900px; 
	margin-top:100px;
	border-style:solid;
	border-width:.5px;
	border-color:#7DACCF ;

	}

.button2 h3 {font-family:'Teko', sans-serif;
	font-size:20px;font-weight:100;opacity:.5;
	color:black;
	letter-spacing:6px;
	margin-left:25px;padding-top:9px;
}
article {width:1200px;
	height:700px;
	background-color:white;


}
footer {
	background-image: url("../images/footstone.jpg");
	background-repeat:no-repeat;
	background-size:1200px;
	width:1200px;height:430px;
	clear:both;
	background-color: white;
	opacity:.8;

}


.button2 a {text-decoration: none;

}

.button2:hover {background-color:#234E76  ;

}

h6 {font-size:9px;
	font-family:'Open+Sans', sans-serif;
	font-weight:100;
	padding-top:220px;
	text-transform: uppercase;
	width:1200px;
	color:white;
	letter-spacing:2px;
	line-height:26px;
	opacity:.3;
	}

footer {
	background-image: url("../images/round4.gif");
	background-repeat:no-repeat;
	background-position:center;
	background-size:10%;
	width:1200px;
	height:280px;
	clear:both;
	background-color:#163146;
	opacity:.999;
	text-align:center;
	
}















