* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
<<<<<<< HEAD
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}


=======
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}


>>>>>>> origin/master

* {margin:0 auto;}

html {background-color:#6987A3  ;

}

body {width:1200px;height:1000px;
	margin:0 auto;
	
}

.navbar {width:1200px; 
	font-family: 'Economica', sans-serif;
	height:50px;
	background-color:#0E2945;
	padding-top:10px;
<<<<<<< HEAD
	opacity:.9;
=======
	opacity:.8;
>>>>>>> origin/master

}

ul {list-style-type: none;
	color:#4F7DAA;
}

ul li {float:left;
	width:200px;
	font-size:16px;
	font-weight:100;
	height: 50px; 
	background-color:none;
	line-height:50px;
	text-align:center;
	margin-right:2px;
	margin-left:10px;
	letter-spacing:8px;
}

ul li a {text-decoration:none;
	color:#4F7DAA;
	display:block;
	
}

ul li a:hover {color:#2F96C4  ;
	
}
ul li ul li {
	display:none;
	font-size:14px;
	letter-spacing: 4px;
}

ul li:hover ul li {
	display:block;
	background-color:white  ;


}


header {
	width:1200px;
	height:450px;
<<<<<<< HEAD
	padding-top:80px;
	background-image: url('../images/afm_tributes.jpg');
	background-size:100%;
	background-position:center;

}

.headertext {width:300px;
	text-align:center;
	margin-left:90px;

}

.results {width:320px;
	height:500px;
	display:block;
	margin-top:130px;
}

.results .active {display:none;

}

#title {font-family:'Teko', sans-serif;
	font-weight:300;
	font-size: 32px;
	text-transform: uppercase;
	width:300px;
	color:black;
	letter-spacing:1.6px;
	line-height:36px;
	text-align:left;
}

.results p {font-family:'Raleway', sans-serif;margin-left:2px;
	padding-left:14px;
	margin-top:20px;
	font-weight:500;
	font-size: 16px;
	width:300px;
	color:black;
	letter-spacing:0px;
	line-height:25px;
	text-align:left;
	
    border-left: thick solid #96A9C4;
}


h2 {font-family:'Teko', sans-serif;
	font-weight:100;
	font-size: 20px;
	padding-top:30px;
	text-transform: uppercase;
	width:590px;
	color:#5986B6;
	letter-spacing:30px;
	line-height:45px;
	text-align:center;
	
=======
	text-align:left;
	background-image: url('../images/night2.jpg');
	background-size:100%;
}

.iconart {padding-top:1px;
	margin-left:740px;
	opacity:.1;
}

.headertext {width:300px;
	text-align:left;
	float:left;
	margin-top:90px;
	margin-left:90px;

}

.results {width:300px;height:500px;display:block;
background-color:none; margin-top:130px;
}

.results .active {display:none;
>>>>>>> origin/master

}

#title {font-family:'Teko', sans-serif;
	font-weight:300;
	font-size: 32px;
	text-transform: uppercase;
	width:300px;
	color:black;
	letter-spacing:1.6px;
	line-height:36px;
	text-align:left;
}
<<<<<<< HEAD
span {font-size:30px;
	color:white;
	letter-spacing:25px;
	text-align:center;
}

.span2 {						/*recipients*/
	color:white;
	font-size: 25px;
	letter-spacing:33px;
	text-align:center;
}

.span3 {						/*stars*/
	color:white;
	margin-bottom:13px;
	font-size: 14px;
	letter-spacing:10px;
	vertical-align: middle;
	opacity:.6;

=======

.results p {font-family:'Raleway', sans-serif;
	margin-top:20px;
	font-weight:500;
	font-size: 17px;
	width:300px;
	color:black;
	letter-spacing:0px;
	line-height:25px;
	text-align:left;
}

h2 {font-family:'Teko', sans-serif;
	font-weight:100;
	font-size: 25px;
	padding-top:70px;
	text-transform: uppercase;
	width:600px;
	color:white;
	letter-spacing:6px;
	line-height:31px;
	text-align:left;
>>>>>>> origin/master

}
p {font-family:'Raleway', sans-serif;
	margin-top:36px; 
	margin-left:40px;
	font-weight:300;
	font-size: 12.5px;
	width:540px;
	color:white;
	letter-spacing:.7px;
	line-height:23px;
	opacity:.8;
	text-align:left;
	
}


<<<<<<< HEAD
.description {width:480px;height:720px;
	background-color:#7193B4  ;
	background-image: url('../images/describe5.gif');
	background-size:100%;
	background-repeat:no-repeat;
	float:right;
=======
p {font-family:'Raleway', sans-serif;
	font-weight:300;
	font-size: 15px;
	width:600px;
	color:white;
	letter-spacing:1.5px;
	line-height:29px;
	opacity:.6;
	text-align:left;
	
>>>>>>> origin/master
}

.biopic {width:240px;height:240px;
 	opacity:.4;
}

<<<<<<< HEAD
a:hover .biopic {background-color:white;
 	opacity:.999;
 	
  transform: scale(0.96);

}

.airman1 {width:240px;
	height:240px;
	float:left;
	background-color:#102A43;
=======
.description {width:480px;height:720px;
	background-color:#7193B4  ;
	background-image: url('../images/describe5.gif');
	background-size:100%;background-repeat:no-repeat;
	float:right;
}

.biopic {width:240px;height:240px;
 	opacity:.4;
}

a:hover .biopic {background-color:white;
 	opacity:.999;
 	
  transform: scale(0.91);
>>>>>>> origin/master

}
.airman2 {width:240px;
	height:240px;
	float:left;
	background-color:#102A43;

.airman1 {width:240px;height:240px;
	background-color:#D2D7DC;
	float:left;background-color:#102A43;

}
.airman2 {width:240px;height:240px;
	background-color:#ACBFD2  ;
	float:left;background-color:#102A43;

}

<<<<<<< HEAD
.airman3 {width:240px;
	height:240px;
	float:left;
	background-color:#102A43;
	
}

.airman4 {width:240px;
	height:240px;
	float:left;
	background-color:#102A43;
	
}

.airman5 {width:240px;
	height:240px;
	float:left;
	background-color:#102A43;
	
}

.airman6 {width:240px;
	height:240px;
	float:left;
	background-color:#102A43;
	
}

.airman7 {width:240px;
	height:240px;
	float:left;
	background-color:#102A43;
	
}

.airman8 {width:240px;
	height:240px;
	float:left;
	background-color:#102A43;
	
}

.airman9 {width:240px;
	height:240px;
	float:left;
	background-color:#102A43;
	
}
h6 {font-size:9px;
	font-family:'Open+Sans', sans-serif;
	font-weight:100;
	padding-top:250px;
	text-transform: uppercase;
	width:1200px;
	color:white;
	letter-spacing:2px;
	line-height:26px;
	opacity:.3;
	}
=======
}

.airman3 {width:240px;height:240px;
	background-color:#7B9DBF;
	float:left;background-color:#102A43;
	
}

.airman4 {width:240px;height:240px;
	background-color:#102A43;
	float:left;
	
}

.airman5 {width:240px;height:240px;
	background-color:#102A43;
	float:left;
	
}

.airman6 {width:240px;height:240px;
	background-color:#102A43;
	float:left;
	
}

.airman7 {width:240px;height:240px;
	background-color:#102A43;
	float:left;
	
}
>>>>>>> origin/master

.airman8 {width:240px;height:240px;
	background-color:#102A43;
	float:left;
	
}

.airman9 {width:240px;height:240px;
	background-color:#102A43;
	float:left;
	
}

footer {background-color:#1A4662  ;
width:1200px; height:240px;clear:both;

footer {height:300px;background-image: url('../images/round4.gif');
	background-repeat:no-repeat;
	background-size:10%;
	background-position:center;
	opacity: .9;
	clear:both;
	max-width:1200px;
	background-color:#192E4B  ;
	text-align:center;


}

}











